$white: white;
$whitesmoke: whitesmoke;
$gray: rgba(107, 107, 107, 0.86);
$gray-bright: gray;
$black-primary: #1c1c1c;
$black-secondary: #060606;
$black-tertiary: rgba(0, 0, 0, 0.75);
$black-quinary: rgba(0, 0, 0, 0.75);
$pink: #f9004d;
$pink-dark: rgba(249, 0, 77, 0.53);
$burgundy: rgba(249, 0, 77, 0.13);
