@import "../../style/vars.scss";

.footer {
  display: flex;
  background-color: $black-secondary;
  text-align: center;

  .container__footer {
    text-align: center;
    align-items: center;

    h2 {
      color: $gray-bright;
      padding-bottom: 40px;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px;
  .social__img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    transition: 0.2s;
    &--w23 {
      width: 23px;
      height: 23px;
    }
    &--w29 {
      width: 29px;
      height: 29px;
      margin-right: 3px;
    }
    &:hover {
      opacity: 0.9;
    }
  }
}
